@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@300&display=swap');


body {
  /* background-color: rgba(24, 24, 27, 0.9); */
  max-width: 900px;
  min-width: 375px;
  margin: auto;
  font-family: 'Comic Neue', cursive;
}

.heading {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 2.5rem;
}

.sub-heading {
  display: inline-block;
  border: 1px solid;
  border-radius: 2px;
  padding: 5px;
  font-size: 2rem;
  font-family: 'Courier New', Courier, monospace;
  box-shadow: 3px 5px 3px;
  min-width: 200px;
  text-align: center;
}

.project-badge {
  width: 95%;
  min-width: 300px;
  border-radius: 5px;
  height: full;
  margin: 40px auto;
  /* box-shadow: 5px 3px 5px; */
  /* transition: all linear 0.1s; */
  /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
}




/* Anime.css */
.sub-heading {
  font-family: 'Comic Neue', cursive;
}

.project-box {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 12px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.project-box h2 {
  font-family: 'Comic Neue', cursive;
  text-shadow: 2px 2px rgba(0, 0, 0, 0.2);
}
