@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  /* background-color: rgba(24, 24, 27, 0.9); */
  max-width: 900px;
  min-width: 375px;
  margin: auto;
}

.heading {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 2.5rem;
}

.sub-heading {
  display: inline-block;
  border: 1px solid;
  border-radius: 2px;
  padding: 5px;
  font-size: 2rem;
  font-family: 'Courier New', Courier, monospace;
  box-shadow: 3px 5px 3px;
  min-width: 200px;
  text-align: center;
}

.project-badge {
  width: 95%;
  min-width: 300px;
  border-radius: 5px;
  /* min-height: 350px; */
  height: full;
  margin: 40px auto;
  /* background: rgba(0,0,0,0.9); */
  box-shadow: 5px 3px 5px;
  transition: all linear 0.1s;
  /* color:white; */
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}


.links-container {
  min-width: 250px;
  height: 30px;
  width: 40%;
  display: flex;
  margin: 10px auto;
  justify-content: space-around;
  text-align: center;
  align-items: center;
  border: 1.2px solid rgb(12, 77, 218);
  border-radius: 3px;
  box-shadow: 3px 1px 5px rgb(12, 77, 218);
}

.project-name{
  font-size:1.2rem;
  display:inline-block;
  min-width: 200px;
  background:rgb(241, 68, 126);
  margin-top: 15px;
  padding: 5px;
  border:solid 1px;
  box-shadow: 3px 2px 5px white;
}